#about-top-image {
    /* background-image: url('../../../assests/images/negative-space-mountain-blue-sky-clouds-jamie-street.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.top-text-background {
    background: rgba(177, 159, 3, .2);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.top-text {

}

.tile-outer {
    padding: 30px;
    margin: 15px 0;
}

.tile-title{
    /* background: blue; */
    min-height: 100px;
    padding-bottom:10px;
    /* Not working */
}

#input-with-icon-grid {
    
}

#send-info-container {
    padding: 20px;
}

#more-info-container {
    text-align: center;
    padding: 25px;
}

.quote-container {
    /* margin: 10px; */
    padding: 25px;
    margin-bottom: 15px;
}

.book-list-container {
    /* background:  */
}