/* #p-tiles {
    background: darkslategrey;
    width: 200px;

} */

/* #p-tiles > img {
    height: 100px;
} */

.tiles {
    margin-top: 10px;
    background: red;
    width: 300px;
}

/* .participant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */