.top-area{
    background-image: url('../../../assests//images/sunset-over-snowy-top-of-the-mountain-picjumbo-com.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    min-height: 100vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
}

.top-area-content {
    background: rgba(161,110,131,.4
    );
    /* width: 90vw; */
    /* background: rgba(71,151,97,.2); */
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-area h1 {
    font-size: 3.8rem;
    /* background: rgba(161,110,131,1); */
    /* background: rgba(177,159,147,1); */
    /* background: rgba(71,151,97,.9); */
    /* border: rgb(25,24,26); */
    color: rgb(25,24,26);
    border-radius: 15px;

}

.linking {
    text-decoration: none;
}

.top-area h3 {
    margin-top: 10px;
     font-size: 1.8;

}