.menu-holder {
    /* border-radius: 100px; */
    /* background: white; */
    /* height: 45px;
    width: 45px; */
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100000000;
}

.open-menu-container {
    
}

#close-icon {
    position: fixed;
    top: 25px;
    right: 25px;
}